// div{
//   width: 500px;
//   height: 500px;
//   background-color: red;
// }

.todo-item {
  .delete-button {
    border: none;
    background-color: none;
    color: 'red';
    font-size: 1.3em;
  }
}